@import 'fonts.css';


:root {
  --PDR: "PlayfairDisplay-Regular";
  --RR: "Roboto Regular";
  --light_black: #666666;
  --black: #000000;
  --search_black: #4B4848;
  --white: #ffffff;
  --greenLight: #41A28E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; 
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


